header {
  background-image: url("../img/header-img.jpg");
  background-size: 100%;
  padding: 0% 15% 40% 15%;
}

li {
  margin-left: 6%;
  cursor: pointer;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav_img {
  margin-top: 1%;
}
.nav_menu {
  color: white;
  width: 100%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.nav_menu li {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.nav_menu li:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: white;
  margin-top: 0%;
  padding: 1% 2%;
  border-radius: 0px 0px 5px 5px;
  color: #ca3a3a;
  border-top: 3px solid #ca3a3a;
}

.pageTitle {
  position: absolute;
  top: 30%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.pageTitle_h2 {
  margin-top: 2%;
  font-size: 150%;
  color: white;
}
.pageTitle_h1 {
  margin-top: 2%;
  font-size: 330%;
  color: white;
}
.pageTitle_h1_span {
  color: #ca3a3a;
}
.pageTitle_button {
  color: #ca3a3a;
  margin-top: 2%;
  background-color: white;
  padding: 1% 2%;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.pageTitle_button:hover {
  background-color: #ca3a3a;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}