@import "./variables.scss";


hr{
    display: none;
}

header {
    width: 100%;
    background-image: url("../img/header-img.jpg");
    background-size: 100%;
    // padding: 0% 15% 40% 15%;
}

.nav {
    display: flex;

    &_img{
        margin-top: 1%;
    }

    &_menu{
        color: $color2;
        width: 100%;
        font-size: 100%;
        
        @include display1(flex, row, right, center);
        

        &_item{
            align-items: center;
            cursor: pointer;
            
            margin: 0% 0% 0% 6%;
            transition: $transition1;
            

            &:hover{
                background-color: $color2;
                padding: 1% 2%;
                border-radius: 0px 0px 5px 5px;
                color: $color1;
                border-top: 3px solid $color1;
                
                margin-top: 0%;
                transition: $transition1;
            }
        }
    } 
}

.pageTitle{
    position: absolute;
    top: 30%;
    width: 70%;

    @include display1(flex, column, none, center);

    &_h2{
        @extend %title1;
        font-size: 150%;
    }

    &_h1{
        @extend %title1;
        font-size: 330%;

        &_span{
            color: $color1;
        }

    }

    &_button{
        
        margin-top: 2%;
        padding: 1% 2%;
        border-radius: 10px;

        @extend %button;

        &:hover{
            background-color: $color1;
            color: $color2;
            transition: $transition1;
        }
    }

}

@media(max-width: 992px){

    hr{
        display: block;
        border: 0.5px solid $color4;
        width: 90%;
    }

    header{
        background-size: 180%;
        background-position: 50% 50%;
        padding: 0% 15% 80% 15%;

    }
    
    .nav{
        &_button{
            width: 7%;
            height: 5%;
            position: absolute;
            top: 1%;
            left: 76.5%;
            background-color: $color2;
            border-radius: 5px;

            &:hover .nav_menu{
                display: none;
            }
        }

        &_menu{
            z-index: 999;
            top: 7%;
            flex-direction: column;
            width: 70%;
            align-items: center;
            position: absolute;
            background-color: $color3;
            border-radius: 10px;

            &_item{
                margin-top: 2.7%;
                margin-left: 0%;
                margin-bottom: 2.6%;
                transition: 0.5s;

                &:hover{
                    margin-top: 2.7%;
                    padding: 0% 0% 0% 0%;
                    background-color: $color3;
                    border-radius: 0px;
                    color: $color1;
                    border-top: none;
                    transition: 0.5s;
                }
                
            }
        }
    }

    .pageTitle{
        &_button{
            padding: 2% 5%;
        }
    }
}




