$color1 : rgb(202, 58, 58);
$color2 : white;
$color3 : rgb(41, 40, 40);
$color4 : gray;

$transition1 : 0.5s;

%title1{
   margin-top: 2%;
   color: $color2; 
}

@mixin button(){
   background-color: $bc;
   color: $c;
   transition: $t;
}

@mixin display1($d, $fd, $jc, $ai) {
   display: $d;
   flex-direction: $fd;
   justify-content: $jc;
   align-items: $ai;
}





@mixin breakpoint($point) {
    @if $point == desktop {
      @media (max-width: 1400px) { @content ; }
   }
    @else if $point == laptop {
      @media (max-width: 1200px) { @content ; }
   }
     @else if $point == tablet {
      @media (max-width: 992px) { @content ; }
   }
    @else if $point == phablet {
      @media (max-width: 768px)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 576px)  { @content ; }
   }
   @else if $point == mobileonlys {
    @media (max-width: 320px)  { @content ; }
   }
 }